<div class="field">
  <%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %>
</div>

<div class="field">
  <%= f.label :username %><br />
  <%= f.text_field :username, autofocus: true %>
</div>

<div class="field">
  <%= f.label :name %><br />
  <%= f.text_field :name, autofocus: true %>
</div>

<div class="field">
  <%= f.label :city %><br />
  <%= f.text_field :city, autofocus: true %>
</div>

<div class="field">
  <%= f.label :state %><br />
  <%= f.text_field :state, autofocus: true %>
</div>

<div class="field">
  <%= f.label :bio %><br />
  <%= f.text_area :bio, autofocus: true, cols: 50, rows: 10 %>
</div>

<div class="form-group">
  <strong>Upload a Profile Pic:</strong>
  <%= f.file_field :avatar %>
</div>
